@media (max-width: 1400px) {
    .profile-text {
        padding-right: 0;
    }

    .pfp {
        margin-right: 0;
    }

    .next {
    right: 100px;
    }

    .prev {
    left: 100px;
    }

    .video-container .video-list .vid video {
    height: 70px;
    width: 70px;
    border-radius: 15px;
    }
}

@media (max-width: 1000px) {
    .pfp {
        height: 280px;
        width: 280px;
    }


    .about-nest {
        display: block;
    }
    
     .about-desc {
        width: 100%;
        height: auto;
    }

    .about-border {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .about-border {
        justify-items: center;
        overflow: hidden;
    }

    .about-pfp::after, .about-pfp::before {
        padding: 143px;
    }

    .about-pfp::before {
    filter:blur(.5rem);
    }

    .about-desc {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        row-gap: 20px;
    }

    .profile-text {
        line-height: 25px;
    }

    .playlist-nest {
    padding: 120px 15px 0px 15px;
    }

    .video-container {
    grid-template-columns: 1.5fr 1fr;
    padding: 10px;
    }

    .swiper {
    padding-top: 0; /* Add space at the top */
    padding-bottom: 0; /* Optional: also gives breathing room at bottom */
    height: calc(65vh + 50px); /* Increase height to account for padding */
    }

    .scroll-list {
        top: 1.7rem;
    }
}

@media (max-width: 770px) {
    .logo {
        display: none;
    }

    .main-nav {
        justify-content: center;
    }

    .navbar {
        padding-right: 0;
    }
    .next {
    right: 40px;
    }

    .prev {
    left: 40px;
    }

    .video-container {
    grid-template-columns: 1fr;
    }

    .modal-content-about {
        max-height: 90dvh;
    }

    .modal-about {
        z-index: 9990;
        backdrop-filter: blur(40px);
    }

    .modal-content-scroll::-webkit-scrollbar {
    width: 0;
    }

    .modal-content-scroll::-webkit-scrollbar-track {
    border-radius: 0;
    }

    .soft-wrapper {
        display: flex;
        flex-direction: column;
    }

    .buttons-dl {
        padding: 20px;
        gap: 10px;
    }


    .buttons-dl {
    width: 100%;
    }


    .scroller {
        width: 100%;
    }

    
    .video-container .video-list {
    height: 30dvh;
    }

    .video-container .main-video video {
        height: auto;
    }

    .video-container .video-list .vid {
    border-radius: 15px;
    }

    .playlist-nest {
    padding: 10px 5px 0px 5px;
    }

}


@media (max-width: 600px) {
    body.no-scroll {
    overflow: hidden;
    touch-action: none;
    }
    :root {
    --swiper-navigation-sides-offset: 0;
    }
    .landing-page {
        padding-top: 90px;
    }

    html {
        scroll-snap-type:none;
    }

    .about-nest {
         padding: 35px 10px 0px 10px;
    }

    .about-desc {
        margin-top: -25px;
    }

    .main-nav {
        display: none;
    }

    .portrait-nav {
        display: flex;
    }

    .profile-name, .profile-heading {
        text-align: center;
    }

    .modal-content {
    width: 100%;
    border-radius: 0;
    width: 100%;
    overflow-y: auto;
    max-height: 85vh;
    }

    .image-modal {
    padding-top: 45px;
    }

      .gallery-nest {
    min-width: unset;
    }

    .swiper-container {
    background-color: rgba(0, 255, 255, 0);
    padding: 0;
    width: 100%;
    }
    
    .profile-text {
        padding: 0px 20px 0px 20px;
    }

    .design-nest {
    padding: 90px 0px 0px 0px;
    }

    .tab-buttons {
    gap: 1rem;
    }

    .tab-btn {
    width: 25%;
    }

    .tab-btn.active {
    width: 25%;
    }

    .carousel-wrapper {
    width: 100vw;
    }

    .carousel-container {
    max-width: 100vw;
    border-radius: 0;
    }

    .carousel-item {
    height: 50vh;
    }

      .custom-nav {
    display: none;
     }

     #gallery {
    padding-top: 0;
    height: 85vh;
    }


    .prev, .next {
    top: 83%;   
    position: block;
    height: 40px;
    }

    .prev {
    left: 20px;
    }   

    .next {
    right: 20px;
    }

    svg.btn-carousel {
    height: 20px;
    }

    .close-btn {
    top: 2dvh;
    right: 0;
    height: 40px;
    width: 50px;
    }

    .close-icon {
    width: 30px;
    height: 30px;
    }

    .content-wrapper h2{
    margin-left: 15px;
    }

    .content-wrapper button{
    margin-right: 15px;
    padding: 10px;
    }

    :root {
        --plyr-control-icon-size:15px;
    }

    .plyr__volume {
    width: 90px; /* Default is 60px; increase or decrease as needed */
    }

    .plyr__volume input[type="range"] {
    width: 100%; /* ensures it fills the volume container */
    }

    .plyr__controls .plyr__control[data-plyr="pip"],
    .plyr__controls .plyr__menu {
    display: none !important;
    }

    .contact-info h2 {
        line-height: .8rem;
    }

    .contact-info .icon-text svg {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    }

    .contact-wrapper {
    margin-top: 80px;
    }

    #experienceSoft p {
    padding: 0;
    }

    .video-container .video-list {
    height: 45dvh;
    }
}

@media (max-width: 550px) {
    .modal-content-about {
        border-radius: 10px;
    }

    .modal-desc {
        padding: 0;
    }

    .timeline-nest  {
        display: block;
        padding: 20px;
        height: 40dvh;
        align-content: center;

    }

    .experience-item {
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        gap:25px;
    }

    .left-texts {
    width: 100%;
    }

    .right-texts {
    width: 100%;
    }

    .educ1 {
    width: 200px;
    height: 200px;
    }

    .educ2 {
    width: 250px;
    height: 250px;
    }

    .modal-content-scroll {
        padding-right: 0;
    }

    .soft-logos {
        gap: 10px;
    }

    .logo-nest {
        width: 80px;
        height: 80px;
    }

    .logo-nest svg {
        height: 45px;
    }
    
}